---
name: Workflow - Release

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  docker_release_build:
    name: Docker release build
    uses: ./.github/workflows/docker-build.yml
    with:
      release_tag_name: ${{ github.event.release.tag_name }}
      docker_context: .
      package_name: ghcr.io/astraly-labs/vesu-liquidator
